## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
False

False

In [2]:
print(True,False)

True False

In [3]:
type(True)

bool

In [4]:
type(False)

bool

The variables with other datatype can also be converted into either true or false based on
1. List/Tuple/Set/Dictionary is empty, False
2. Non empty List/Tuple/Set/Dictionary are considered True

In [16]:
bool([])

True

In [17]:
my_str='Krish123'

In [19]:
my_str.istitle()

True

In [21]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H
print(my_str.translate) #test if string translate

True
False
False
True
False
False
False
False
True
<built-in method translate of str object at 0x7f77145a2570>

### Boolean and Logical Operators

In [29]:
has_table_loaded = True

In [22]:
True and True

True

In [23]:
True and False

False

In [30]:
True or False

True

In [31]:
True or True

True

In [32]:
str_example='Hello World'
my_str='Krish'

In [33]:
my_str.isalpha() or str_example.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [34]:
type([])

list

In [35]:
lst_example=[]

In [36]:
type(lst_example)

list

In [37]:
lst=list()

In [39]:
lst.append('x')

In [40]:
type(lst)

list

In [41]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [42]:
len(lst)

6

In [43]:
type(lst)

list

### Append

In [44]:
#.append is used to add elements in the list
lst.append("Krish")

In [45]:
lst.append(["John","Bala"])

In [46]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish', ['John', 'Bala']]

In [47]:
##Indexing in List
lst[6]

'Krish'

In [48]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

### Insert

In [49]:
## insert in a specific order

lst.insert(2,"Naik")

In [50]:
lst

['Mathematics',
 'chemistry',
 'Naik',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala']]

In [51]:
lst.append(["Hello","World"])

In [52]:
lst

['Mathematics',
 'chemistry',
 'Naik',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [53]:
lst=[1,2,3]

In [54]:
lst.append([4,5])

In [55]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [56]:
lst=[1,2,3,4,5,6]

In [57]:
lst.extend([8,9])

In [58]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [59]:
lst.extend([9, 8, [1, 2]])

In [60]:
lst

[1, 2, 3, 4, 5, 6, 8, 9, 9, 8, [1, 2]]

### Various Operations that we can perform in List

In [65]:
lst=[1,2,3,4,5]
# lst=[1, 'archie', '2', 'andrews'] Will result in TypeError

In [66]:
sum(lst)

15

In [67]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [68]:
lst.pop()

5

In [69]:
lst

[1, 2, 3, 4]

In [70]:
lst.pop(0)

1

In [71]:
lst

[2, 3, 4]

### count():Calculates total occurrence of given element of List

In [72]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [73]:
#length:Calculates total length of List
len(lst)

6

In [74]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [75]:
##Min and Max
min(lst)

1

In [76]:
max(lst)

5

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table
1. The way it adds the element into the set is unordered

In [1]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var={1,2,3,4,3}
for num in range(1000):
    set_var.add(f"Number: {num}")

In [6]:
set_var

{1,
 2,
 3,
 4,
 'Number: 136',
 'Number: 580',
 'Number: 730',
 'Number: 960',
 'Number: 874',
 'Number: 542',
 'Number: 475',
 'Number: 550',
 'Number: 153',
 'Number: 941',
 'Number: 474',
 'Number: 279',
 'Number: 57',
 'Number: 884',
 'Number: 896',
 'Number: 909',
 'Number: 913',
 'Number: 569',
 'Number: 124',
 'Number: 662',
 'Number: 840',
 'Number: 21',
 'Number: 88',
 'Number: 89',
 'Number: 399',
 'Number: 178',
 'Number: 354',
 'Number: 779',
 'Number: 144',
 'Number: 222',
 'Number: 276',
 'Number: 335',
 'Number: 430',
 'Number: 490',
 'Number: 677',
 'Number: 56',
 'Number: 53',
 'Number: 338',
 'Number: 361',
 'Number: 78',
 'Number: 387',
 'Number: 638',
 'Number: 577',
 'Number: 330',
 'Number: 862',
 'Number: 185',
 'Number: 158',
 'Number: 271',
 'Number: 763',
 'Number: 223',
 'Number: 613',
 'Number: 879',
 'Number: 588',
 'Number: 800',
 'Number: 24',
 'Number: 592',
 'Number: 484',
 'Number: 154',
 'Number: 261',
 'Number: 780',
 'Number: 177',
 'Number: 777',
 'Number: 17',
 'Number: 627',
 'Number: 238',
 'Number: 686',
 'Number: 535',
 'Number: 743',
 'Number: 555',
 'Number: 496',
 'Number: 823',
 'Number: 883',
 'Number: 721',
 'Number: 657',
 'Number: 969',
 'Number: 23',
 'Number: 768',
 'Number: 605',
 'Number: 671',
 'Number: 546',
 'Number: 241',
 'Number: 611',
 'Number: 737',
 'Number: 692',
 'Number: 878',
 'Number: 81',
 'Number: 650',
 'Number: 871',
 'Number: 77',
 'Number: 826',
 'Number: 690',
 'Number: 741',
 'Number: 473',
 'Number: 476',
 'Number: 210',
 'Number: 292',
 'Number: 532',
 'Number: 815',
 'Number: 942',
 'Number: 629',
 'Number: 670',
 'Number: 813',
 'Number: 574',
 'Number: 663',
 'Number: 853',
 'Number: 422',
 'Number: 968',
 'Number: 825',
 'Number: 290',
 'Number: 118',
 'Number: 993',
 'Number: 190',
 'Number: 201',
 'Number: 804',
 'Number: 428',
 'Number: 438',
 'Number: 842',
 'Number: 463',
 'Number: 639',
 'Number: 997',
 'Number: 996',
 'Number: 820',
 'Number: 925',
 'Number: 236',
 'Number: 723',
 'Number: 299',
 'Number: 669',
 'Number: 714',
 'Number: 972',
 'Number: 293',
 'Number: 67',
 'Number: 352',
 'Number: 267',
 'Number: 527',
 'Number: 725',
 'Number: 397',
 'Number: 882',
 'Number: 38',
 'Number: 918',
 'Number: 601',
 'Number: 604',
 'Number: 180',
 'Number: 243',
 'Number: 782',
 'Number: 456',
 'Number: 526',
 'Number: 229',
 'Number: 164',
 'Number: 978',
 'Number: 83',
 'Number: 582',
 'Number: 384',
 'Number: 708',
 'Number: 872',
 'Number: 903',
 'Number: 609',
 'Number: 709',
 'Number: 40',
 'Number: 132',
 'Number: 467',
 'Number: 161',
 'Number: 446',
 'Number: 126',
 'Number: 767',
 'Number: 869',
 'Number: 781',
 'Number: 553',
 'Number: 459',
 'Number: 364',
 'Number: 504',
 'Number: 636',
 'Number: 117',
 'Number: 945',
 'Number: 120',
 'Number: 750',
 'Number: 291',
 'Number: 32',
 'Number: 771',
 'Number: 943',
 'Number: 172',
 'Number: 921',
 'Number: 254',
 'Number: 342',
 'Number: 203',
 'Number: 812',
 'Number: 659',
 'Number: 985',
 'Number: 999',
 'Number: 220',
 'Number: 329',
 'Number: 704',
 'Number: 286',
 'Number: 822',
 'Number: 758',
 'Number: 802',
 'Number: 139',
 'Number: 22',
 'Number: 365',
 'Number: 150',
 'Number: 799',
 'Number: 954',
 'Number: 35',
 'Number: 649',
 'Number: 594',
 'Number: 93',
 'Number: 237',
 'Number: 711',
 'Number: 717',
 'Number: 152',
 'Number: 477',
 'Number: 608',
 'Number: 769',
 'Number: 94',
 'Number: 540',
 'Number: 986',
 'Number: 485',
 'Number: 857',
 'Number: 845',
 'Number: 43',
 'Number: 379',
 'Number: 512',
 'Number: 245',
 'Number: 14',
 'Number: 250',
 'Number: 312',
 'Number: 668',
 'Number: 71',
 'Number: 735',
 'Number: 792',
 'Number: 121',
 'Number: 230',
 'Number: 621',
 'Number: 624',
 'Number: 544',
 'Number: 135',
 'Number: 531',
 'Number: 62',
 'Number: 400',
 'Number: 435',
 'Number: 603',
 'Number: 52',
 'Number: 899',
 'Number: 407',
 'Number: 498',
 'Number: 766',
 'Number: 199',
 'Number: 131',
 'Number: 221',
 'Number: 505',
 'Number: 151',
 'Number: 770',
 'Number: 18',
 'Number: 377',
 'Number: 213',
 'Number: 973',
 'Number: 533',
 'Number: 294',
 'Number: 647',
 'Number: 819',
 'Number: 494',
 'Number: 751',
 'Number: 590',
 'Number: 793',
 'Number: 359',
 'Number: 421',
 'Number: 159',
 'Number: 798',
 'Number: 906',
 'Number: 905',
 'Number: 731',
 'Number: 507',
 'Number: 908',
 'Number: 710',
 'Number: 961',
 'Number: 358',
 'Number: 394',
 'Number: 631',
 'Number: 576',
 'Number: 719',
 'Number: 350',
 'Number: 832',
 'Number: 74',
 'Number: 169',
 'Number: 811',
 'Number: 889',
 'Number: 572',
 'Number: 818',
 'Number: 259',
 'Number: 247',
 'Number: 783',
 'Number: 258',
 'Number: 589',
 'Number: 543',
 'Number: 998',
 'Number: 833',
 'Number: 69',
 'Number: 471',
 'Number: 875',
 'Number: 472',
 'Number: 427',
 'Number: 372',
 'Number: 9',
 'Number: 784',
 'Number: 656',
 'Number: 856',
 'Number: 411',
 'Number: 774',
 'Number: 534',
 'Number: 311',
 'Number: 591',
 'Number: 179',
 'Number: 478',
 'Number: 406',
 'Number: 343',
 'Number: 31',
 'Number: 37',
 'Number: 49',
 'Number: 362',
 'Number: 481',
 'Number: 753',
 'Number: 323',
 'Number: 96',
 'Number: 396',
 'Number: 554',
 'Number: 570',
 'Number: 607',
 'Number: 971',
 'Number: 520',
 'Number: 480',
 'Number: 687',
 'Number: 556',
 'Number: 585',
 'Number: 597',
 'Number: 643',
 'Number: 738',
 'Number: 524',
 'Number: 503',
 'Number: 80',
 'Number: 606',
 'Number: 146',
 'Number: 646',
 'Number: 337',
 'Number: 200',
 'Number: 305',
 'Number: 315',
 'Number: 318',
 'Number: 356',
 'Number: 451',
 'Number: 676',
 'Number: 59',
 'Number: 615',
 'Number: 383',
 'Number: 84',
 'Number: 319',
 'Number: 674',
 'Number: 707',
 'Number: 700',
 'Number: 602',
 'Number: 268',
 'Number: 626',
 'Number: 217',
 'Number: 536',
 'Number: 814',
 'Number: 946',
 'Number: 483',
 'Number: 977',
 'Number: 821',
 'Number: 754',
 'Number: 5',
 'Number: 149',
 'Number: 930',
 'Number: 82',
 'Number: 614',
 'Number: 742',
 'Number: 937',
 'Number: 587',
 'Number: 568',
 'Number: 202',
 'Number: 967',
 'Number: 334',
 'Number: 584',
 'Number: 212',
 'Number: 273',
 'Number: 675',
 'Number: 666',
 'Number: 187',
 'Number: 436',
 'Number: 748',
 'Number: 775',
 'Number: 596',
 'Number: 145',
 'Number: 610',
 'Number: 630',
 'Number: 642',
 'Number: 745',
 'Number: 444',
 'Number: 705',
 'Number: 493',
 'Number: 455',
 'Number: 186',
 'Number: 698',
 'Number: 932',
 'Number: 990',
 'Number: 786',
 'Number: 962',
 'Number: 522',
 'Number: 897',
 'Number: 240',
 'Number: 516',
 'Number: 622',
 'Number: 412',
 'Number: 265',
 'Number: 653',
 'Number: 634',
 'Number: 598',
 'Number: 559',
 'Number: 44',
 'Number: 127',
 'Number: 571',
 'Number: 975',
 'Number: 246',
 'Number: 891',
 'Number: 866',
 'Number: 266',
 'Number: 801',
 'Number: 950',
 'Number: 847',
 'Number: 852',
 'Number: 829',
 'Number: 881',
 'Number: 453',
 'Number: 965',
 'Number: 560',
 'Number: 860',
 'Number: 807',
 'Number: 198',
 'Number: 525',
 'Number: 219',
 'Number: 689',
 'Number: 600',
 'Number: 764',
 'Number: 488',
 'Number: 712',
 'Number: 736',
 'Number: 353',
 'Number: 513',
 'Number: 778',
 'Number: 563',
 'Number: 911',
 'Number: 502',
 'Number: 439',
 'Number: 470',
 'Number: 398',
 'Number: 537',
 'Number: 715',
 'Number: 912',
 'Number: 0',
 'Number: 518',
 'Number: 262',
 'Number: 385',
 'Number: 924',
 'Number: 547',
 'Number: 981',
 'Number: 227',
 'Number: 285',
 'Number: 206',
 'Number: 303',
 'Number: 827',
 'Number: 765',
 'Number: 841',
 'Number: 72',
 'Number: 679',
 'Number: 119',
 'Number: 368',
 'Number: 464',
 'Number: 728',
 'Number: 966',
 'Number: 143',
 'Number: 499',
 'Number: 173',
 'Number: 843',
 'Number: 958',
 'Number: 688',
 'Number: 58',
 'Number: 529',
 'Number: 861',
 'Number: 664',
 'Number: 10',
 'Number: 806',
 'Number: 887',
 'Number: 417',
 'Number: 844',
 'Number: 308',
 'Number: 332',
 'Number: 191',
 'Number: 575',
 'Number: 371',
 'Number: 264',
 'Number: 344',
 'Number: 458',
 'Number: 419',
 'Number: 904',
 'Number: 415',
 'Number: 445',
 'Number: 416',
 'Number: 103',
 'Number: 727',
 'Number: 275',
 'Number: 916',
 'Number: 944',
 'Number: 289',
 'Number: 970',
 'Number: 635',
 'Number: 718',
 'Number: 991',
 'Number: 341',
 'Number: 772',
 'Number: 752',
 'Number: 740',
 'Number: 641',
 'Number: 313',
 'Number: 681',
 'Number: 667',
 'Number: 716',
 'Number: 632',
 'Number: 979',
 'Number: 579',
 'Number: 102',
 'Number: 46',
 'Number: 130',
 'Number: 392',
 'Number: 836',
 'Number: 561',
 'Number: 76',
 'Number: 30',
 'Number: 514',
 'Number: 424',
 'Number: 64',
 'Number: 232',
 'Number: 195',
 'Number: 517',
 'Number: 272',
 'Number: 566',
 'Number: 367',
 'Number: 381',
 'Number: 901',
 'Number: 509',
 'Number: 864',
 'Number: 894',
 'Number: 99',
 'Number: 508',
 'Number: 122',
 'Number: 929',
 'Number: 593',
 'Number: 919',
 'Number: 366',
 'Number: 835',
 'Number: 382',
 'Number: 284',
 'Number: 429',
 'Number: 703',
 'Number: 837',
 'Number: 328',
 'Number: 466',
 'Number: 495',
 'Number: 340',
 'Number: 20',
 'Number: 388',
 'Number: 744',
 'Number: 100',
 'Number: 86',
 'Number: 357',
 'Number: 123',
 'Number: 133',
 'Number: 270',
 'Number: 521',
 'Number: 562',
 'Number: 706',
 'Number: 877',
 'Number: 461',
 'Number: 947',
 'Number: 992',
 'Number: 194',
 'Number: 218',
 'Number: 447',
 'Number: 65',
 'Number: 628',
 'Number: 838',
 'Number: 68',
 'Number: 893',
 'Number: 327',
 'Number: 375',
 'Number: 920',
 'Number: 183',
 'Number: 148',
 'Number: 640',
 'Number: 63',
 'Number: 773',
 'Number: 242',
 'Number: 658',
 'Number: 211',
 'Number: 170',
 'Number: 168',
 'Number: 239',
 'Number: 192',
 'Number: 922',
 'Number: 541',
 'Number: 511',
 'Number: 193',
 'Number: 595',
 'Number: 873',
 'Number: 702',
 'Number: 304',
 'Number: 457',
 'Number: 3',
 'Number: 155',
 'Number: 402',
 'Number: 324',
 'Number: 128',
 'Number: 988',
 'Number: 625',
 'Number: 987',
 'Number: 360',
 'Number: 226',
 'Number: 661',
 'Number: 726',
 'Number: 48',
 'Number: 110',
 'Number: 757',
 'Number: 114',
 'Number: 156',
 'Number: 12',
 'Number: 251',
 'Number: 408',
 'Number: 618',
 'Number: 797',
 'Number: 106',
 'Number: 73',
 'Number: 301',
 'Number: 915',
 'Number: 492',
 'Number: 355',
 'Number: 907',
 'Number: 790',
 'Number: 694',
 'Number: 637',
 'Number: 91',
 'Number: 314',
 'Number: 612',
 'Number: 886',
 'Number: 209',
 'Number: 652',
 'Number: 805',
 'Number: 256',
 'Number: 936',
 'Number: 809',
 'Number: 619',
 'Number: 287',
 'Number: 500',
 'Number: 578',
 'Number: 115',
 'Number: 994',
 'Number: 26',
 'Number: 297',
 'Number: 599',
 'Number: 425',
 'Number: 208',
 'Number: 870',
 'Number: 850',
 'Number: 147',
 'Number: 141',
 'Number: 665',
 'Number: 175',
 'Number: 756',
 'Number: 816',
 'Number: 36',
 'Number: 890',
 'Number: 989',
 'Number: 432',
 'Number: 926',
 'Number: 510',
 'Number: 41',
 'Number: 298',
 'Number: 138',
 'Number: 75',
 'Number: 848',
 'Number: 963',
 'Number: 134',
 'Number: 651',
 'Number: 280',
 'Number: 854',
 'Number: 696',
 'Number: 902',
 'Number: 855',
 'Number: 418',
 'Number: 105',
 'Number: 460',
 'Number: 655',
 'Number: 414',
 'Number: 166',
 'Number: 281',
 'Number: 935',
 'Number: 940',
 'Number: 917',
 'Number: 956',
 'Number: 974',
 'Number: 888',
 'Number: 66',
 'Number: 104',
 'Number: 734',
 'Number: 231',
 'Number: 479',
 'Number: 645',
 'Number: 184',
 'Number: 434',
 'Number: 934',
 'Number: 16',
 'Number: 982',
 'Number: 55',
 'Number: 331',
 'Number: 321',
 'Number: 214',
 'Number: 233',
 'Number: 810',
 'Number: 181',
 'Number: 660',
 'Number: 54',
 'Number: 796',
 'Number: 97',
 'Number: 565',
 'Number: 320',
 'Number: 551',
 'Number: 207',
 'Number: 288',
 'Number: 309',
 'Number: 171',
 'Number: 295',
 'Number: 552',
 'Number: 684',
 'Number: 957',
 'Number: 248',
 'Number: 557',
 'Number: 189',
 'Number: 325',
 'Number: 951',
 'Number: 282',
 'Number: 386',
 'Number: 454',
 'Number: 25',
 'Number: 13',
 'Number: 747',
 'Number: 257',
 'Number: 391',
 'Number: 11',
 'Number: 469',
 'Number: 759',
 'Number: 984',
 'Number: 28',
 'Number: 489',
 'Number: 351',
 'Number: 449',
 'Number: 983',
 'Number: 695',
 'Number: 50',
 'Number: 333',
 'Number: 393',
 'Number: 654',
 'Number: 165',
 'Number: 701',
 'Number: 955',
 'Number: 224',
 'Number: 672',
 'Number: 980',
 'Number: 205',
 'Number: 699',
 'Number: 755',
 'Number: 762',
 'Number: 691',
 'Number: 683',
 'Number: 530',
 'Number: 910',
 'Number: 216',
 'Number: 673',
 'Number: 137',
 'Number: 111',
 'Number: 720',
 'Number: 515',
 'Number: 441',
 'Number: 160',
 'Number: 828',
 'Number: 931',
 'Number: 348',
 'Number: 167',
 'Number: 549',
 'Number: 849',
 'Number: 349',
 'Number: 380',
 'Number: 938',
 'Number: 795',
 'Number: 45',
 'Number: 162',
 'Number: 252',
 'Number: 85',
 'Number: 113',
 'Number: 95',
 'Number: 369',
 'Number: 423',
 'Number: 682',
 'Number: 497',
 'Number: 693',
 'Number: 395',
 'Number: 260',
 'Number: 523',
 'Number: 680',
 'Number: 739',
 'Number: 60',
 'Number: 27',
 'Number: 791',
 'Number: 6',
 'Number: 948',
 'Number: 47',
 'Number: 928',
 'Number: 79',
 'Number: 278',
 'Number: 7',
 'Number: 437',
 'Number: 892',
 'Number: 188',
 'Number: 914',
 'Number: 317',
 'Number: 648',
 'Number: 581',
 'Number: 404',
 'Number: 482',
 'Number: 953',
 'Number: 234',
 'Number: 448',
 'Number: 506',
 'Number: 101',
 'Number: 263',
 'Number: 733',
 'Number: 776',
 'Number: 370',
 'Number: 486',
 'Number: 215',
 'Number: 157',
 'Number: 617',
 'Number: 858',
 'Number: 539',
 'Number: 859',
 'Number: 616',
 'Number: 567',
 'Number: 1',
 'Number: 39',
 'Number: 244',
 'Number: 87',
 'Number: 746',
 'Number: 196',
 'Number: 2',
 'Number: 760',
 'Number: 269',
 'Number: 140',
 'Number: 33',
 'Number: 863',
 'Number: 336',
 'Number: 831',
 'Number: 817',
 'Number: 927',
 'Number: 620',
 'Number: 277',
 'Number: 697',
 'Number: 129',
 'Number: 431',
 'Number: 182',
 'Number: 573',
 'Number: 255',
 'Number: 900',
 'Number: 949',
 'Number: 729',
 'Number: 834',
 'Number: 678',
 'Number: 976',
 'Number: 440',
 'Number: 433',
 'Number: 462',
 'Number: 558',
 'Number: 846',
 'Number: 401',
 'Number: 378',
 'Number: 528',
 'Number: 410',
 'Number: 491',
 'Number: 868',
 'Number: 307',
 'Number: 90',
 'Number: 310',
 'Number: 452',
 'Number: 142',
 'Number: 373',
 'Number: 413',
 'Number: 442',
 'Number: 876',
 'Number: 107',
 'Number: 830',
 'Number: 923',
 'Number: 867',
 'Number: 228',
 'Number: 538',
 'Number: 296',
 'Number: 363',
 'Number: 116',
 'Number: 347',
 'Number: 685',
 'Number: 787',
 'Number: 885',
 'Number: 545',
 'Number: 789',
 'Number: 995',
 'Number: 785',
 'Number: 98',
 'Number: 302',
 'Number: 519',
 'Number: 564',
 'Number: 633',
 'Number: 724',
 'Number: 749',
 'Number: 851',
 'Number: 895',
 'Number: 390',
 'Number: 839',
 'Number: 487',
 'Number: 426',
 'Number: 623',
 'Number: 51',
 'Number: 586',
 'Number: 306',
 'Number: 465',
 'Number: 952',
 'Number: 376',
 'Number: 420',
 'Number: 8',
 'Number: 824',
 'Number: 70',
 'Number: 109',
 'Number: 788',
 'Number: 468',
 'Number: 4',
 'Number: 548',
 'Number: 389',
 'Number: 197',
 'Number: 300',
 'Number: 345',
 'Number: 253',
 'Number: 322',
 'Number: 808',
 'Number: 174',
 'Number: 794',
 'Number: 409',
 'Number: 15',
 'Number: 865',
 'Number: 34',
 'Number: 42',
 'Number: 112',
 'Number: 19',
 'Number: 939',
 'Number: 959',
 'Number: 803',
 'Number: 274',
 'Number: 204',
 'Number: 722',
 'Number: 898',
 'Number: 249',
 'Number: 964',
 'Number: 339',
 'Number: 933',
 'Number: 326',
 'Number: 108',
 'Number: 405',
 'Number: 450',
 'Number: 92',
 'Number: 125',
 'Number: 176',
 'Number: 346',
 'Number: 501',
 'Number: 235',
 'Number: 403',
 'Number: 29',
 'Number: 880',
 'Number: 713',
 'Number: 443',
 'Number: 583',
 'Number: 644',
 'Number: 732',
 'Number: 316',
 'Number: 225',
 'Number: 163',
 ...}

In [7]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Avengers', 'Hitman'}

set

In [8]:
## Inbuilt function in sets

set_var.add("Hulk")

In [9]:
print(set_var)

{'IronMan', 'Avengers', 'Hitman', 'Hulk'}

In [34]:
set1={"Avengers","IronMan",'Spiderman', 'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [35]:
set2.intersection_update(set1)

In [36]:
set2,set1

({'Avengers', 'Hitman', 'IronMan'},
 {'Avengers', 'Hitman', 'IronMan', 'Spiderman'})

In [37]:
##Difference 
set2.difference(set1)

set()

In [38]:
new_set

set()

In [29]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [39]:
## Difference update

set2.difference_update(set1)

In [40]:
print(set2)

set()

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [42]:
dic={}

In [43]:
type(dic)

dict

In [44]:
type(dict())

dict

In [45]:
set_ex={1,2,3,4,5}

In [46]:
type(set_ex)

set

In [47]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [48]:
type(my_dict)

dict

In [52]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [53]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [54]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [55]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [56]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [57]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [58]:
my_dict['Car1']='MAruti'

In [59]:
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [60]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [61]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [65]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [66]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

Tuples can be reassigned to another tuple but the items within the tuple cannot be modified

In [67]:
## create an empty Tuples

my_tuple=tuple()

In [68]:
type(my_tuple)

tuple

In [69]:
my_tuple=()

In [70]:
type(my_tuple)

tuple

In [71]:
my_tuple=("Krish","Ankur","John")

In [72]:
my_tuple=('Hello','World')

In [73]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [74]:
type(my_tuple)

tuple

In [76]:
## Inbuilt function
my_tuple.count('Krish')

0

In [80]:
my_tuple.index('World')

1